.main-swap-body {
    padding: 24px;
    border-radius: 24px;
}

.modal-open{
    overflow: hidden;
}

.page-title {
    margin: 20px 0 40px;
    text-align: center;
}

.page-title-first {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
}

.page-title-second {
    font-size: 16px;
    margin: 0 8px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 480px;
    grid-column-gap: 40px;
    width: 100%;
}

.left-col {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    overflow: hidden;
}

.right-col {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: white;
    border-radius: 1.5rem;
}
.market-limit-wrap {
    min-height: 540px;
    max-height: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    padding: 0;
    background: var(--atola-common-text-03);
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 16px;
}

.mat-focus-indicator {
    position: relative;
}

.market-limit-content {
    padding: 16px;
    height: 100%;
}

.trade-menu {
    display: block;
    margin-top: 7px;
}

.litmit-box {
    margin-top: 28px;
    font-size: 13px;
}

.limit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.field-header {
    display: flex;
    justify-content: space-between;
    margin: 0 4px 8px;
}
.limit-order-field-title {
    font-size: 13px;
    color: var(--atola-common-text-07);
}

.field {
    background: #f1f7ff !important;
    color: var(--atola-common-text-08) !important;
} 

.token-swap-input-field {
    height: 82px;
    padding: 14px 16px;
    margin: 0;
    position: relative;
    z-index: 20;
    width: 100%;
}

.token-swap-field-first-row {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem !important;
}

.token-swap-field-first-row  .token-swap-field-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--atola-common-text-07);
}

.limit-usd-price {
    display: inline;
    text-align: right;
    white-space: nowrap;
    color: currentColor;
}
.token-usd-price {
    color: var(--atola-common-text-01);
}

.token-swap-field-second-row {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.trade-charts-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-range-select-wrap {
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto 64px;
    grid-column-gap: 24px;
}

.chart-range-dropdown {
    padding: 4px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: none;
}
.range-option {
    padding: 5px 0;
    width: 43px;
    border: 0;
    outline: 0;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 8px;
    color: #222222;
}
.range-option:hover {
    background: #ecf0f9;
    font-weight: bold;
}

.left-col .apexcharts-xaxistooltip {
    display: none;
}

.swap-direction-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--atola-button-bg-01);
    box-shadow: var(--atola-btn-shadow-01);
    text-align: center;
    transition: transform .3s;
}

.swap-settings-button:hover {
    background-color: var(--atola-bg-01);
}

.swap-direction-arrow-container {
    text-align: center;
    margin-top: -7px;
    margin-bottom: -12px;
}
.swap-direction-arrow:hover {
    transform: rotate(180deg);
    cursor: pointer;
}

.swap-direction-arrow-svg {
    mask: url('~@/assets/svg/arrow-down-01.svg') no-repeat center / contain;
    -webkit-mask: url('~@/assets/svg/arrow-down-01.svg') no-repeat center / contain;
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: var(--atola-common-text-01);
}